@import url(https://fonts.googleapis.com/css?family=Inter:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400italic,700italic,400,700);
body h6, body .h6, body h5, body .h5, body h4, body .h4, body h3, body .h3, body h2, body .h2, body h1, body .h1 {
  color: #08519C;
}

code {
  font-size: 0.9rem !important;
}

.navbar {
  height: 88px !important;
  position: relative;
  background-color: #08519C;
}

.navbar-logo {
  max-height: 78px !important;
}

.navbar-collapse {
  background-color: #08519C;
}

.menu-text {
  font-size: 1.1rem;
  font-weight: 500;
}